body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#footer{
	background-color:#003;
}
.wrapper p
{
	color:#FFF;
}
.footer_header{
	color:#CCC;
	font-size:25px;
}
.col-sm-12{
	text-align:center;
	color:#FF3;
}

.about{
	background-color:#CCC;
}
.about h1{
	text-align:center;
	color:#006;
	line-height:50px;
}
.director{
	background-color:#CCF;
	
}
.director h1{
	text-align:center;
	color:#006;
}
hr{
	color:#006;
}




    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 900px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
	
	 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }